<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/css/list.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <title>Reservation</title>
</head>

<body>
  <form th:action="@{/reservation/customer}" method="post" th:object="${reservationFlow.reservation.customer}">
    <div th:text="${reservationFlow.getActiveStepDescription().getDescription()}"></div>
    <div><input type="text" placeholder="First Name" th:value="*{firstName}" th:field="*{firstName}"></div>
    <div><input type="text" placeholder="Last Name" th:value="*{telephone}" th:field="*{lastName}"></div>
    <div><input type="text" placeholder="Telephone" th:value="*{telephone}" th:field="*{telephone}"></div>
    <div class="field">
      <button type="submit" name="back">Back</button>
      <button type="submit">Next</button>
    </div>
  </form>
</body>

</html>
