<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/form.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <title>Reservation</title>
</head>

<body style="padding-top:100px">
  <form th:action="@{/reservation/customer}" method="post" th:object="${reservationFlow.reservation.customer}">
    <div class='form-container'>
      <div class='left-container'>
          <h1 th:text="${reservationFlow.reservation.activity.name}"></h1>
      </div>
      <div class='right-container'>
        <header>
          <h1 th:text="${reservationFlow.getActiveStepDescription().getDescription()}"></h1>
          <div class='set'>
              <div class='first-name'>
                <label for='first-name'>First Name</label>
                <input id='first-name' placeholder="First Name" th:value="*{firstName}" th:field="*{firstName}">
              </div>
              <div class='last-name'>
                <label for='last-name'>Last Name</label>
                <input id='last-name' placeholder="Last Name" th:value="*{lastName}" th:field="*{lastName}">
              </div>
          </div>
          <div class='set'>
              <div class='telephone'>
                <label for='telephone'>Telephone</label>
                <input id='telephone' placeholder="Telephone" th:value="*{telephone}" th:field="*{telephone}">
              </div>
              <div class='new-customer'>
                <label for='new-customer'>New customer</label>
                <input id="new-customer" type="checkbox"  th:field="*{new}" style="width: 20px"/>
              </div>
          </div>
        </header>
        <footer>
          <div class='set'>
            <button id='back' type="submit" name="back">Back</button>
            <button id='next' type="submit">Next</button>
          </div>
        </footer>
      </div>
    </div>
  </form>
</body>

</html>
