<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- JS file that handles the pop-up forms -->
    <script src="/js/reservation.js"></script>

    <!-- Link to custom CSS -->
    <link rel="stylesheet" href="/css/productNavbar.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Reservations</title>
</head>

<body>

    <section th:replace="activity/activity :: #navigationContainer"></section>
    <div class="container">
        <h3 id="header">Reservations</h3>
            <!--<p>
                <a class="btn btn-primary" id="readButton" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Read
                </a>
            </p>-->

            <!-- Dropdown for filtering the reservations table based on activity -->
            <form th:action="@{/reservation/list}">
                <select class="mdb-select md-form md-outline colorful-select dropdown-primary" th:name="activityName" >
                    <option value="" disabled selected>Choose activity</option>
                    <option th:value="all">All activities</option>
                    <option th:each="activity : ${activities}"
                            th:value="${activity.name}"
                            th:text="${activity.name}"></option>
                </select>
                <button type="submit">Go</button>
            </form>

            <table class="table table-bordered table-striped" style="margin-top: 10px">
                <thead class="thead-dark">
                <tr>
                    <th>Activity</th>
                    <th>Date & Time</th>
                    <th>Amount of people</th>
                    <th>Customer</th>
                    <th>Total Price</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="reservation : ${reservations}">
                    <td th:text="${reservation.activity.name}" />
                    <td th:text="${#dates.format(reservation.date, 'dd-MMM-yyyy HH:mm')}" />
                    <td th:text="${reservation.amountOfPeople}" />
                    <td th:text="${reservation.customer.firstName} + ' ' + ${reservation.customer.lastName}" />
                    <td th:text="${reservation.price}" />
<!--                    <td>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                <div class="column">
                                    <h2>Customer Information</h2>
                                    <p th:text="${reservation.customer.telephone}"></p>
                                    <h2>Price</h2>
                                    <p th:text="${reservation.price}"></p>
                                    <h2>Activity Description</h2>
                                    <p th:text="${reservation.activity.description}"></p>
                                </div>
                            </div>
                        </div>
                    </td>-->
                    <td>
                        <div class="btn-group btn-group-edit">
                            <!-- Read button -->
                            <a th:href="@{/reservation/findById/(id=${reservation.id})}" class="btn btn-primary btn-sm" id="readInfoButton">Info</a><br>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Info Modal -->
    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Reservation</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/reservation/findById}" th:object="${reservationFlow.reservation}" method="get">

                        <div class="form-group">
                            <label for="id">Reservation Id</label>
                            <input type="text" class="form-control" id="id" name="id" readonly>
                            <label for="ActName">Activity</label>
                            <input class="form-control" id="ActName" th:field="*{activity.name}" readonly>
                            <label for="date" class="col-form-label">Date</label>
                            <input type="text" class="form-control" id="date" th:field="${reservationFlow.reservation.date}" readonly>
                            <label for="price" class="col-form-label">Total Price</label>
                            <input type="number" class="form-control" id="price" th:field="${reservationFlow.reservation.price}" readonly>
                            <label for="duration" class="col-form-label">Duration</label>
                            <input type="number" class="form-control" id="duration" th:field="${reservationFlow.reservation.hours}" readonly>
                            <label for="customerFName" class="col-form-label">Customer First Name</label>
                            <input type="text" class="form-control" id="customerFName" th:field="*{customer.firstName}" readonly>
                            <label for="customerLName" class="col-form-label">Customer Last Name</label>
                            <input type="text" class="form-control" id="customerLName" th:field="*{customer.lastName}" readonly>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                    <!-- End of modal body -->
                </div>
                <!-- End of modal content -->
            </div>
        </div>
    </div>
</body>
</html>
