<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/list.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Review</title>
</head>

<body>
    <div th:text="${reservationFlow.getActiveStepDescription().getDescription()}"></div>
    <h2>Summary</h2>
    <h3>What: </h3>
    <span th:text="${reservationFlow.reservation.activity.name}"></span>
    <h3>When: </h3>
    <span th:text="${reservationFlow.reservation.date}"></span>
    <h3>Duration: </h3>
    <span th:text="${reservationFlow.reservation.hours}"></span> hours
    <h3>Total Price: </h3>
    <span th:text="${reservationFlow.reservation.price}"></span>
    <div>
        <form id="form" th:action="@{/reservation/review}" method="post">
            <div>
                <button type="submit" name="back">Back</button>
                <button type="submit" name="confirm">Confirm</button>
            </div>
        </form>
    </div>
</body>
</html>
