<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Review</title>
</head>

<body>
        <div class='form-container'>
            <div class='left-container'>
                <h1 th:text="${reservationFlow.reservation.activity.name}"></h1>
            </div>
            <div class='right-container'>
                <header>
                    <h1 th:text="${reservationFlow.getActiveStepDescription().getDescription()}"></h1>
                    <div class='set'>
                        <div class="what">
                            <label for="what" >What</label>
                            <span id="what" th:text="${reservationFlow.reservation.activity.name}"></span>
                        </div>
                    </div>
                    <div class='set'>
                        <div class="when">
                            <label for="when">When</label>
                            <span id="when" th:text="${#dates.format(reservationFlow.reservation.date, 'dd-MMM-yyyy HH:mm')}"></span>
                        </div>
                    </div>
                    <div class='set'>
                        <div class="duration-review">
                            <label for="duration-review">Duration</label>
                            <span id="duration-review" th:text="${reservationFlow.reservation.hours}"></span>
                        </div>
                    </div>
                    <div class='set'>
                        <div class="total-price">
                            <label for="total-price">Total price</label>
                            <span id="total-price" th:text="${#numbers.formatDecimal(reservationFlow.reservation.calculateTotalPrice(), 0, 'COMMA', 2, 'POINT')}"></span>
                        </div>
                    </div>
                </header>
                <footer>
                    <form id="form" th:action="@{/reservation/review}" method="post">
                        <div class='set'>
                            <button id='back' type="submit" name="back">Back</button>
                            <button id='next' type="submit" name="confirm">Confirm</button>
                        </div>
                    </form>
                </footer>
            </div>
        </div>

</body>
</html>
