<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Review</title>
</head>

<body style="padding-top:100px">
<div class='signup-container'>
    <div class='left-container'>
        <h1 th:text="${reservationFlow.reservation.activity.name}"></h1>
    </div>
    <div class='right-container' style="background: #006F40">
        <header>
            <h1 th:text="${reservationFlow.getActiveStepDescription().getDescription()}"></h1>
            <div class='set'>
                <div class='pets-name'>
                    <label>What</label>
                    <span th:text="${reservationFlow.reservation.activity.name}"></span>
                </div>
            </div>
            <div class='set'>
                <div class='pets-name'>
                    <label>When</label>
                    <span th:text="${#dates.format(reservationFlow.reservation.date, 'dd-MMM-yyyy HH:mm')}"></span>                </div>
            </div>
            <div class='set'>
                <div class='pets-name'>
                    <label for='pets-name'>Duration</label>
                    <span th:text="${reservationFlow.reservation.hours}"></span>
                </div>
            </div>
            <div class='set'>
                <div class='pets-name'>
                <label for='pets-name'>Total price</label>
                    <span th:text="${reservationFlow.reservation.calculateTotalPrice()}"></span>
            </div>
            </div>
        </header>
        <footer>
            <form id="form" th:action="@{/reservation/review}" method="post">
                <div class='set'>
                    <button id='back' type="submit" name="back">Back</button>
                    <button id='next' type="submit" name="confirm">Confirm</button>
                </div>
            </form>
        </footer>
    </div>
</div>
</body>
</html>
