<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Link to custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/productNavbar.css">

    <title>Activities</title>

</head>

<body>
    <section id="navigationContainer">
        <nav id="navBar">
            <div id="navBar-left">
                <a href="/login" class="navChild">
                    <span>Login</span>
                    <hr class="hoverLine">
                </a>
            </div>
            <div id="navBar-right">
                <a href="/activities/list" class="navChild">
                    <span>Activities</span>
                    <hr class="hoverLine">
                </a>
                <a href="/reservation/list" class="navChild">
                    <span>Reservations</span>
                    <hr class="hoverLine">
                </a>
            </div>
        </nav>
    </section>

    <!-- Main content -->
    <div class="container">
        <!-- Page Header -->
        <h3 id="header">Activities</h3>

        <div id="add-read-buttons" align="left">
            <!-- Add new activity button-->
            <input type="button" id="addButton" class="btn btn-primary btn-sm mb-3" data-toggle="modal" data-target="#addModal" value="Add activity"> 
            <!-- Expand description button-->
            <input type="button" id="readButton" class="btn btn-primary btn-sm mb-3" value="Read" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        </div>

        <!-- Activities Table -->
        <table class="table table-bordered table-striped" style="margin-top: 10px">
            <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Hourly Price</th>
                <th>Age Limit</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="activity : ${activities}">
                <td th:text="${activity.name}">Name</td>
                <td th:text="${activity.description}">Description</td>
                <td th:text="${activity.hourlyPrice}">Hourly Price</td>
                <td th:text="${activity.ageLimit}">Age Limit</td>
                <td>
                    <!-- Read button functionality -->
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            <div class="column">
                                <h2>Description</h2>
                                <p th:text="${activity.description}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group">
                        <!-- Update activity -->
                        <a th:href="@{/activities/findById/(id=${activity.id})}" class="btn btn-info btn-sm" id="editButton">Update</a>
                        <!-- Delete activity -->
                        <!--th:if="${isAdmin == true}"--> <a th:href="@{/activities/delete/(id=${activity.id})}" class="btn btn-danger btn-sm" id="deleteButton">Delete</a>
                        <!-- Make reservation associated with the given activity -->
                        <a th:href="@{/reservation(activityId=${activity.id})}"
                           class="btn btn-info btn-sm">Make reservation
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Add Modal -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel" style="font-size: x-large">New Activity</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/activities/addNew}" method="post">

                        <div class="form-group">
                        <label for="nameAdd" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="nameAdd" name="name" required>
                        </div>

                        <div class="form-group">
                            <label for="descriptionAdd" class="col-form-label">Description:</label>
                            <input type="text" class="form-control" id="descriptionAdd" name="description">
                        </div>

                        <div class="form-group">
                            <label for="hourlyPriceAdd" class="col-form-label">Hourly Price:</label>
                            <input type="number" step="0.01" class="form-control" id="hourlyPriceAdd" name="hourlyPrice" required>
                        </div>

                        <div class="form-group">
                            <label for="ageLimitAdd" class="col-form-label">Age Limit:</label>
                            <input type="number" class="form-control" id="ageLimitAdd" name="ageLimit" min="0">
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                    <!-- End of modal body -->
                </div>
                <!-- End of modal content -->
            </div>
        </div>
    </div>

    <!-- Edit Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel" style="font-size: x-large">Update Activity</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/activities/update}" method="put">

                        <div class="form-group">
                            <input type="hidden" class="form-control" id="idEdit" name="id">
                        </div>

                        <div class="form-group">
                            <label for="nameEdit" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="nameEdit" name="name" required>
                        </div>

                        <div class="form-group">
                            <label for="descriptionEdit" class="col-form-label">Description:</label>
                            <input type="text" class="form-control" id="descriptionEdit" name="description">
                        </div>

                        <div class="form-group">
                            <label for="hourlyPriceEdit" class="col-form-label">Hourly Price:</label>
                            <input type="number" step="0.01" class="form-control" id="hourlyPriceEdit" name="hourlyPrice" required>
                        </div>

                        <div class="form-group">
                            <label for="ageLimitEdit" class="col-form-label">Age Limit:</label>
                            <input type="number" class="form-control" id="ageLimitEdit" name="ageLimit" min="0">
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                    <!-- End of modal body -->
                </div>
                <!-- End of modal content -->
            </div>
        </div>
    </div>

    <!-- Delete Modal -->
    <div class="modal" id="deleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="font-size: x-large">Confirm Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this activity?</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" id="confirmDeleteButton" href="">Yes, delete</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- JS file that handles the pop-up forms -->
    <script src="/js/activity.js"></script>

</body>
</html>
