<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/list.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Title</title>
</head>

<body>
   <div class="container">
       <div class="row" id="backButton">
           <a th:href="@{/activities/list}">Back to Activity List</a>
       </div>

       <div id="add-form">
           <h3>New Activity</h3><hr>
           <form action="#" th:action="@{/activities/save}" th:object="${activity}" method="post">
               <!-- Add hidden form field to handle the update -->
               <input type="hidden" th:field="*{id}" />
               <input type="text" th:field="*{name}" placeholder="Name" required>
               <input type="text" th:field="*{description}" placeholder="Description">
               <input type="number" step="0.01" th:field="*{hourlyPrice}" placeholder="Hourly Price" min="0" required>
               <input type="number" th:field="*{ageLimit}" placeholder="Age Limit" min="0">
               <button type="submit" class="btn btn-info col-2">Save</button>
           </form>
       </div>
   </div>

</body>
</html>
