#navigationContainer
{
    position: -webkit-sticky; /* Safari compatibility*/
    position: sticky;
    top: 0;
    z-index: 100;
}

#navBar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    min-height: 6vh;
    height: fit-content;
    background-color: rgba(0, 184, 107, 0.5);;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.60);
}

#navBar a
{
    display: inline-block;
    font-size: 17px;
    height: 4vh;
    width: fit-content;
    padding: 0.5vh 10px;
    color: white;
    position: relative; /* Used to align the hoverLine element properly */
}

#navBar a .hoverLine
{
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5vh;
    color: white;
    border: none;
    margin: 0
}

#navBar a:hover .hoverLine
{
    display: inline-block;
    background-color: #ffffff;
}

a:hover
{
    text-decoration: none;
    font-weight: bold;
    padding: 0.5vh 6px !important;
}

#navBar .navChild
{
    margin-left: 2vw;
    margin-right: 2vw;
}
