<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Activities List</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Age Limit</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="activity: ${activities}">
                <td th:text="${activity.id}"/>
                <td th:text="${activity.name}"/>
                <td th:text="${activity.description}"/>
                <td th:text="${activity.price}"/>
                <td th:text="${activity.ageLimit}"/>
            </tr>
        </tbody>
    </table>
</body>
</html>