<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style>
.loginForm
{
    position: absolute;
    left:
    text-align: center;
    height: 400px;
    width: 30%;
}
    </style>
</head>
<body>


 <div class="main">
     <div class="loginForm">
         <h1>Login</h1>
         <p>Username</p>
         <input type="text" placeholder="Username . . . ">
         <hr>
         <input type="text" placeholder="Password . . .">
         <hr>
         <button>login</button>
     </div>
 </div>

</body>
</html>