<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="/login.css">
    <link href='https://fonts.googleapis.com/css?family=Share Tech Mono' rel='stylesheet'>
</head>
<body>


<div class="main">
    <div class="loginForm">
        <h1>Login</h1>
        <form th:action="@{/loginSubmission}" method="post">
            <p>Username</p>
            <input type="text" th:name="username" placeholder="Type your username . . .">
            <hr>
            <p>Password</p>
            <input type="password" th:name="password" placeholder="Type your password . . .">
            <hr>
            <button type="submit" value="Login">login</button>
        </form>
    </div>
</div>
</body>
</html>